In [1]:
import pandas as pd
df = pd.read_csv('data.csv')
df

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Mitoses.1
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2A
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [2]:
df['classes'] = df['Mitoses.1']
new_df = df.drop(['Mitoses.1'],axis='columns')
new_df

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,classes
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2A
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [3]:
new_df['classes'] = new_df['classes'].str.replace('A','')
new_df.drop(['Sample code number'],axis=1,inplace=True)

In [8]:

input = new_df.drop(['classes'],axis='columns')
target = new_df.classes

In [21]:
input.isnull().values.any()

False

In [65]:
input['Bare Nuclei'].tail(50)

639     1
640     1
641     1
642     1
643     1
644     1
645     1
646     1
647     1
648     2
649     1
650     4
651     1
652     1
653     1
654     1
655     1
656     1
657     1
658    10
659     1
660     1
661     1
662     1
663     1
664     1
665     1
666     1
667     1
668     1
669     5
670     8
671     1
672     1
673     1
674     1
675     1
676     1
677     1
678     1
679     1
680    10
681    10
682     1
683     1
684     1
685     1
686     1
687     1
688     1
689     1
690     1
691     5
692     1
693     1
694     2
695     1
696     3
697     4
698     5
Name: Bare Nuclei, dtype: object

In [81]:
input['Clump Thickness'].fillna(input['Clump Thickness'].mean(),inplace=True)
input['Uniformity of Cell Size'].fillna(input['Uniformity of Cell Size'].mean(),inplace=True)
input['Uniformity of Cell Shape'].fillna(input['Uniformity of Cell Shape'].mean(),inplace=True)
input['Marginal Adhesion'].fillna(input['Marginal Adhesion'].mean(),inplace=True)
df['Bare Nuclei'] = df['Bare Nuclei'].replace('?', 
    np.mean(pd.to_numeric(df['Bare Nuclei'], errors='coerce')))
input['Single Epithelial Cell Size'].fillna(input['Single Epithelial Cell Size'].mean(),inplace=True)
input['Bland Chromatin'].fillna(input['Bland Chromatin'].mean(),inplace=True)
input['Normal Nucleoli'].fillna(input['Normal Nucleoli'].mean(),inplace=True)
input['Mitoses'].fillna(input['Mitoses'].mean(),inplace=True)

In [82]:
input['Bare Nuclei'] = input['Bare Nuclei'].replace(np.nan,np.floor(input['Bare Nuclei'].median()))
input['Bare Nuclei'] = input['Bare Nuclei'].astype('int64')

In [83]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, StratifiedShuffleSplit, RepeatedKFold, train_test_split

Entrop = DecisionTreeClassifier(criterion='entropy')
Gini = DecisionTreeClassifier(criterion='gini')

In [84]:
Gini_P = DecisionTreeClassifier( criterion='gini', ccp_alpha = 0.015)
Entropy_P = DecisionTreeClassifier( criterion='entropy', ccp_alpha = 0.015)

In [91]:
CV = RepeatedKFold(n_splits = 10, n_repeats = 10, random_state = 1)
CV2 = StratifiedShuffleSplit(n_splits=100, test_size=0.3, random_state=0)
X = input
Y = target

In [92]:
Acc_n_Std = cross_val_score(Gini,X , Y, scoring='accuracy', n_jobs = -1)
print('Accuracy: ', np.mean(Acc_n_Std), ' Standard Deviation: ', np.std(Acc_n_Std))

Accuracy:  0.9227440904419322  Standard Deviation:  0.01938773670072331

In [93]:
Acc_n_Std = cross_val_score(Gini_P,X , Y, scoring='accuracy', n_jobs = -1)
print('Accuracy: ', np.mean(Acc_n_Std), ' Standard Deviation: ', np.std(Acc_n_Std))

Accuracy:  0.9342137718396712  Standard Deviation:  0.023599646777597

In [94]:
Acc_n_Std = cross_val_score(Entrop,X , Y, scoring='accuracy',cv = CV2, n_jobs = -1)
print('Accuracy: ', np.mean(Acc_n_Std), ' Standard Deviation: ', np.std(Acc_n_Std))

Accuracy:  0.9375714285714287  Standard Deviation:  0.014108343328467833

In [97]:
Acc_n_Std = cross_val_score(Entropy_P,X , Y, scoring='accuracy', n_jobs = -1)
print('Accuracy: ', np.mean(Acc_n_Std), ' Standard Deviation: ', np.std(Acc_n_Std))

Accuracy:  0.9341932168550873  Standard Deviation:  0.02449020099397861